[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
psycopg2 = "*"
cloudinary = "*"
dotenv = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
